$primary-text: #000;
$secondary-text: #fff;
$accent-text: #878789;

$bg-color: #fafafa;
$bg-color2: #efefef;

$width-mob: 980px;
$brand-color1: #5fa2f0;
$brand-color2: #de3086;
$brand-color3: #9c5eff;
$brand-color4: #45d62f;
$secondary-text: #fff;

$border: 0.1rem solid $primary-text;

$font-xs: 1.4rem;
$font-s: 1.6rem;
$font-m: 1.8rem;
$font-l: 3.6rem;
$font-xl: 7.4rem;
$font-xxl: 6.7rem;

$font-l-mob: 2.6rem;
$font-m-mob: 1.6rem;

$font-header: serif;
$font-main: sans-serif;
